{% extends 'base.html' %}
{% block content %}


<div class="blog">
    <div class="row no-margin blog-banner valign-wrapper">
        <div class="col s12">
        <h1 class=" blog-banner-heading center">
        About Me
        </h1>
        <p class=" blog-banner-subheading center">
        As seen by rest
        </p>
        </div>
    </div>
</div>


<div class="w3-light-grey">
    <div class="w3-content" style="max-width:1400px;">
      <div class="w3-row-padding">
          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h3 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>Work Experience</h3>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Python(Django) learner/developer and Japanese interpreter/translator @ Hathlogic</b></h5>
              <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Oct 2017 - <span class="w3-tag w3-red w3-round">Current</span></h6>
              <!--<h4 class="w3-opacity">Communication</h4>-->
              <!--<p>I realize the importance of good communication. I use tools like Slack to make sure we’re always on the same page.</p>-->

              <!--<h4 class="w3-opacity">Organisation</h4>-->
              <!--<p>I believe it’s important to stay organised while working remotely. I use the likes of Trello & Basecamp to help keep projects on-track and under control.</p>-->

              <!--<h4 class="w3-opacity">Time Keeping</h4>-->
              <!--<p>I value my clients’ time and always aim to work efficiently. I account for and track everything I do using services such as Toggl.</p>-->

              <h4 class="w3-opacity">Design</h4>
              <p>While I'm not a graphic designer, I have an eye for good design. I'm comfortable taking designs from mock-up to implementation.</p>

              <h4 class="w3-opacity">Translation / Interpretation</h4>
              <p>Lorem.</p>


              <h4 class="w3-opacity">Documentation</h4>
              <p>Often overlooked, I think it's incredibly important to leave clients with a clear picture of what's been done for the next round of development.</p>

              <h4 class="w3-opacity">Project Management</h4>
              <p>I think it’s important to identify the discrete stages of a project and work to a schedule around those.</p>

                <!--<h4 class="w3-opacity">Hire Me</h4>-->
              <!--<p>So are you looking for a professional, communicative & punctual software engineer with extensive full-stack web development skills for your next project?-->

<!--If you have an application you are interested in developing with web technology, I’d love to work with you on it. I’m a full-stack developer which means I can bring your project from concept to completion. I work primarily with Django and Node.js on the back-end and Ember.js on the front-end but picking up new languages or frameworks isn’t a problem.</p>-->


              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>DCS engineer(J-team) @ Yokogawa india ltd</b></h5>
              <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Feb 2014 - Sep 2017</h6>
              <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
              <h4 class="w3-opacity">Japanese Co-ordination</h4>
              <p>Lorem.</p><hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Apprentice trainee (System testing) @ BHEL </b></h5>
              <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2013 - Jan 2014</h6>
              <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
            </div>
          </div>

          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h3 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>Education</h3>
            <div class="w3-container">
              <!--<h5 class="w3-opacity"><b>OJT</b></h5>-->
              <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
              <p>Back end Development! All I need to learn in one place</p>
              <p>Japanese language! Improvisation</p>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Navis Institute of Foreign Language Centre / Yokogawa india limited</b></h5>
              <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2014</h6>
              <p>Japanese-Language Proficiency Test-N4
                <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2017</h6>
              <p>Japanese-Language Proficiency Test-N3 <br> (Appearing N2)</p>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>P.V.P Polytechnic</b></h5>
              <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
              <p>Diploma in electronics and communication engineering</p>
            </div>
      </div>
    </div>


</div>





{% endblock content %}

{% block script %}

{% endblock script %}