{% extends 'base.html' %}

{% load staticfiles %} {% block content %}



<div class="slider">
    <ul class="slides">
      <li>
        <img src="/static/images/Japanese_food.jpg"> <!-- random image -->
        <div class="video-overlay">
            <div class="video-overlay1">
                <h2 class="white-text">Hey, I'm a web developer from Bengaluru, india</h2>
                <p class="light grey-text text-lighten-3 center-on-large-only"> I design, build, operate & rescue full-stack web applications.</p>
            </div>
        </div>


      </li>
      <li>
        <img src="/static/images/Isehara.JPG"> <!-- random image -->
        <div class="photo-overlay">
            <div class="video-overlay2">
                <h2 class="white-text">Adventurous, sometimes!!</h2>
                <!--<p class="light grey-text text-lighten-3 center-on-large-only">Few adventures, sometimes!!</p>-->
            </div>
        </div>
      </li>
      <li>
        <img src="/static/images/Gandikotaaa.jpg"> <!-- random image -->
        <div class="photo-overlay">
            <div class="video-overlay4">
                <h2 class="white-text">Addicted to ROAD TRIPS.</h2>
                <p class="light grey-text text-lighten-3 center-on-large-only"> I often go on biking, crossing the borders and limits!</p>
            </div>
        </div>
      </li>
      <li>
        <img src="/static/images/One_piece_focus.gif"> <!-- random image -->
        <div class="photo-overlay">
            <div class="video-overlay3">
                <h2 class="white-text">Boring / free time turned into One piece</h2>
                <p class="light grey-text text-lighten-3 center-on-large-only">Ambitious now!!!</p>
            </div>
        </div>

      </li>
    </ul>
  </div>


<div class="w3-light-grey">
    <div class="w3-content margin-top" style="max-width:1400px;">
        <div class="w3-row-padding">
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-14"><i class="fa fa-tripadvisor  fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>Quick Look!</h2>
                <h4 class="w3-opacity">Web interest</h4>
              <p>Well, it started with things questioning myself How do things on internet work.</p>

              <!--<h4 class="w3-opacity">Ability to read code</h4>-->
              <!--<p>In our career,most of the times will be reading others code more than writing my own code.</p>-->

              <h4 class="w3-opacity">Testing</h4>
              <p>Have a keen eye on complete testing of a web-based system before going live can help address issues before the system is revealed to the public.</p>
            </div>
        </div>
    </div>
</div>

  <div class="parallax-container">
    <div class="parallax"><img src="/static/images/kere_thannur.jpg"></div>
      <div class="row">

    </div>
  </div>





<!--Import jQuery before materialize.js-->
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
      $('.parallax').parallax();
      $('.carousel.carousel-slider').carousel({fullWidth: true});
    });
</script>
<script>
    $(document).ready(function(){
      $('.slider').slider();
    });
</script>





{% endblock content %}

{% block script %}

{% endblock script %}