{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="blog">
    <div class="row blog-banner valign-wrapper">
        <div class="col s12">
            <h1 class=" blog-banner-heading center">
                Portfolio
            </h1>
            <p class=" blog-banner-subheading center">
                Lorem ipsum
            </p>
        </div>
    </div>


    <div class="blog-content custom-container">
        <div class="row portfolio-list">
                {% if all_portfolios %}
                {% for obj in all_portfolios %}

                <div class="col s12-offset-2 m6 l4">

                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{{obj.image.url}}">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4">{{obj.card_title}}<i class="material-icons right">more_vert</i></span>
                            </div>
                            <div class="card-action">
                                <a href="{{obj.id}}">Read more</a>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title grey-text text-darken-4">{{obj.card_title}}<i class="material-icons right">close</i></span>
                              <p>{{obj.content}}</p>
                            </div>
                        </div>
                </div>
                {% endfor %}
                {% endif %}

        </div>
    </div>
</div>

    <div class="center">
                    <div class="pagination" style="padding-bottom:10px">
                        <span class="step-links">
                            {% if all_portfolios.has_previous %}
                                <a href="?page=1">&laquo; first |</a>
                                <a href="?page={{ all_portfolios.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ all_portfolios.number }} of {{ all_portfolios.paginator.num_pages }}.
                            </span>

                            {% if all_portfolios.has_next %}
                                <a href="?page={{ all_portfolios.next_page_number }}">next |</a>
                                <a href="?page={{ all_portfolios.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>








{% endblock content %}

{% block script %}

{% endblock script %}
