{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}



<div class="blog">
    <div class="article-banner row ">

        <div class="article-banner-image valign-wrapper">
            <img src="{{port_article.image.url}}" class="">
        </div>

    </div>
    <div class="blog-content row custom-container">
        <div class="col s12 m8-offset-2 card article">
            <div class="article-container-port">
                 <div class="artice-heading">
                <h4 class="left-align">{{port_article.card_title}}</h4>
            </div>
            <div class="article-content ">
                {{port_article.content | linebreaks}}
            </div>
            </div>

        </div>

        <!--<div class="col s12 m3">-->
            <!--<div class="row">-->
                <!--<h4 class="black_colour">Apple device services</h4>-->
                <!--<hr>-->
                <!--<div class="blog-news-feed">-->
                    <!--<div class="fb-page" data-href="https://www.facebook.com/aserviceindia/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/aserviceindia/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/aserviceindia/">A'services</a></blockquote></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>



    {% endblock content %}

    {% block script %}
    <script>
        $(document).ready(function(){
            $('.materialboxed').materialbox();
        });

    </script>
    {% endblock script %}