<!--<div class="row">-->
    <div class="col s12">
        <div class="blog-search">
            <form method="GET" action="{% url 'blog:search_blog' %}">
                <input type="text" class="fa-placholder" placeholder="&nbsp; &#xf002; Place, Activity, Memory... " name="q" value="{{ request.GET.q }}" />
            </form>
        </div>
    </div>
<!--</div>-->


<!--<div class="row">-->
    <div class="col s12">
        <div class="blog-categories">
            <h4 class="black_colour">Topics</h4></div>
        <hr>
        {% if cat %}
        <div class="collection">
            {% for obj in cat %}
            <a href="{% url 'blog:search_category' name=obj.name %}" class="{% if current_category == obj.name %} active {% endif %} collection-item">{{obj.name}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
<!--</div>-->

<div class="blog-recent-posts">
    <div class="col s12">
        <h4 class="black_colour">Blog updates</h4>
        <hr>
        {% if latest_blogs %}
        {% for obj in latest_blogs %}
        <div class="collection-item theme_colour">
            {{obj.title|truncatechars:25}}
            <a href="{% url 'blog:article' obj.id %}" class="secondary-content">
                <i class="material-icons black-text">chevron_right</i>
            </a>
        </div>
        {% endfor %}
        {% endif %}
        <hr>
        <div class="row">
            <h4 class="black_colour">Apple device services</h4>
            <hr>
            <div class="col s12">
                <div class="blog-news-feed">
                    <div class="fb-page" data-href="https://www.facebook.com/aserviceindia/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/aserviceindia/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/aserviceindia/">A'services</a></blockquote></div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--</div>-->