{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>{% block title %} Asn {% endblock title %}</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import fontawesome stylesheet-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/medium.css' %}">
    <link rel="stylesheet" href="{% static 'css/medium_and_below.css' %}">
    <link rel="stylesheet" href="{% static 'css/small_screen.css' %}">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {{form.media}}
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div>
    <ul id="slide-out" class="side-nav fixed hide-on-small-only" style="transform: translateX(0%);">
        <div class="user-view">
            <div class="background">
                <img src="/static/images/Summerland.JPG">
            </div>
            <a href="{% url 'about:about' %}"><img class="circle" src="/static/images/sample.JPG"></a>
            <span class="Black-text name bold"><h3>Abhishek SN</h3></span>
        </div>


        <div class="w3-container">
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large" aria-hidden="true"></i>Japanese Bilingual,</p>
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-white" aria-hidden="true"></i>Python(Django)</p>
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-white" aria-hidden="true"></i>Beginner web developer</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large"></i>Bengaluru, IND</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large"></i>snabhishek16@gmail.com</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large"></i>7899737173</p>
            <p><i class="fa fa-spinner fa-fw w3-margin-right w3-large hide-on-large-only"></i>
                     <a class="fa fa-facebook hide-on-large-only" aria-hidden="true" href="http://www.facebook.com/abhishek.sn.me" title="Like me on Facebook" target="_blank"></a>
                     <a class="fa fa-instagram hide-on-large-only" aria-hidden="true" href="http://www.instagram.com/snabhishek16" title="Love me on Insta" target="_blank"></a>
                     <a class="fa fa-linkedin hide-on-large-only" aria-hidden="true" href="https://www.linkedin.com/in/abhishek-sn-gowda-52118b88/" title="Connect with me on Linkedin" target="_blank"></a>
                     <!--<a class="fa fa-github hide-on-large-only" aria-hidden="true" href="https://github.com/snabhishek16" title="Connect with me on Github" target="_blank"></a>-->
                     <!--<a class="fa fa-twitter hide-on-large-only" aria-hidden="true" href="https://twitter.com/snabhishek16" title="Tweet me on Twitter" target="_blank"></a>-->
                     <a class="fa fa-skype hide-on-large-only" aria-hidden="true" href="skype:snabhishek16" title="Connect with me on Skype" target="_blank"></a>
                     <!--<a class="fa fa-whatsapp hide-on-large-only" aria-hidden="true" href="intent://send/7899737173#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" title="Ping me on whatsapp"></a></li>-->
                    <!--<li> <a class="fa fa-spinner" aria-hidden="true" title="Poke me" onclick="Materialize.toast('Ouuccchhhh!', 4000,'rounded',function(){alert('Do not repeat')})"></a></li>-->
                </p>


            <hr>
            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right"></i>Skills</b></p>
            <p>Python (Django)</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-red" style="width:40%">40%</div>
            </div>
            <p>Japanese interpretation</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-red" style="width:75%">
                    <div class="w3-center w3-text-white">75%</div>
                </div>
            </div>
            <p>Project management</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-red" style="width:85%">85%</div>
            </div>
            <br>
            <hr>

            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right"></i>Languages</b></p>
            <p>English</p>
            <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-red" style="height:24px;width:85%"></div>
            </div>
            <p>日本語(Japanese)</p>
            <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-red" style="height:24px;width:75%"></div>
            </div>
            <p>ಕನ್ನಡ(Kannada)</p>
            <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-red" style="height:24px;width:100%"></div>
            </div>
        </div>
    </ul>
</div>

<div class="main-body">
    <nav class="nav-extended ">
        <div class="nav-content ">
                <div class="col l6 s12 ">
            <ul class="tabs tabs-transparent hide-on-small-only">
                <a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-med-only hide-on-large-only"><i class="material-icons">menu</i></a>
                <li><a target="_self" href="{% url 'index' %}">HOME</a></li>
                <li><a target="_self" href="{% url 'about:about' %}">ABOUT</a></li>
                <li><a target="_self" href="{% url 'portfolio:portfolio' %}">PORTFOLIO</a></li>
                <li><a target="_self" href="{% url 'blog:blogs' %}">BLOGS</a></li>
                <li><a target="_self"  href="#modal1" data-activates="slide-out" class="collapse modal-trigger">CONTACT</a></li>

                <ul class="social hide-on-med-and-down">
                    <li> <a class="fa fa-facebook" aria-hidden="true" href="http://www.facebook.com/abhishek.sn.me" title="Like me on Facebook" target="_blank"></a></li>
                    <li> <a class="fa fa-instagram" aria-hidden="true" href="http://www.instagram.com/snabhishek16" title="Love me on Insta" target="_blank"></a></li>
                    <li> <a class="fa fa-linkedin" aria-hidden="true" href="https://www.linkedin.com/in/abhishek-sn-gowda-52118b88/" title="Connect with me on Linkedin" target="_blank"></a></li>
                    <li> <a class="fa fa-github" aria-hidden="true" href="https://github.com/snabhishek16" title="Connect with me on Github" target="_blank"></a></li>
                    <li> <a class="fa fa-twitter" aria-hidden="true" href="https://twitter.com/snabhishek16" title="Tweet me on Twitter" target="_blank"></a></li>
                    <li> <a class="fa fa-skype" aria-hidden="true" href="skype:snabhishek16" title="Connect with me on Skype" target="_blank"></a></li>
                    <!--<li> <a class="fa fa-whatsapp" aria-hidden="true" href="intent://send/7899737173#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" title="Ping me on whatsapp"></a></li>-->
                    <!--<li> <a class="fa fa-spinner" aria-hidden="true" title="Poke me" onclick="Materialize.toast('Ouuccchhhh!', 4000,'rounded',function(){alert('Do not repeat')})"></a></li>-->
                </ul>
            </ul>
                </div>
        </div>
    </nav>


    <nav class="nav-extended ">
        <div class="nav-content hide-on-med-only hide-on-large-only">
            <div class="col l6 s12 ">
                <ul class="tabs tabs-transparent ">
                    <a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-med-only hide-on-large-only"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="side-nav" style="transform: translateX(0px);">

                        <div class="user-view">
                            <div class="background">
                                <img src="/static/images/Summerland.JPG">
                            </div>
                            <a href="{% url 'about:about' %}"><img class="circle" src="/static/images/sample.JPG"></a>
                            <span class="Black-text name bold"><h3>Abhishek SN</h3></span>
                        </div>
                        <li><a target="_self" href="{% url 'index' %}">HOME</a></li>
                        <li><a target="_self" href="{% url 'about:about' %}">ABOUT</a></li>
                        <li><a target="_self" href="{% url 'portfolio:portfolio' %}">PORTFOLIO</a></li>
                        <li><a target="_self" href="{% url 'blog:blogs' %}">BLOGS</a></li>
                        <li><a target="_self"  href="#modal1" data-activates="slide-out" class="collapse modal-trigger">CONTACT</a></li>
                        <hr>




                        <div class="w3-container black-text">
                            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large" aria-hidden="true"></i>Japanese Bilingual,</p>
                            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-white" aria-hidden="true"></i>Python(Django)</p>
                            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-white" aria-hidden="true"></i>Beginner web developer</p>
                            <p><i class="fa fa-home fa-fw w3-margin-right w3-large"></i>Bengaluru, IND</p>
                            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large"></i>snabhishek16@gmail.com</p>
                            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large"></i>7899737173</p>
                            <hr>
                            <p class="w3-small"><b><i class="fa fa-asterisk fa-fw w3-margin-right"></i>Skills</b></p>
                            <p>Python (Django)</p>
                            <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-red" style="width:40%">40%</div>
                            </div>
                            <p>Japanese interpretation</p>
                            <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-red" style="width:75%">
                            <div class="w3-center w3-text-white">75%</div>
                            </div>
                            </div>
                            <p>Project management</p>
                            <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-red" style="width:85%">85%</div>
                            </div>
                            <br>
                            <hr>

                            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right"></i>Languages</b></p>
                            <p>English</p>
                            <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-round-xlarge w3-red" style="height:24px;width:85%"></div>
                            </div>
                            <p>日本語(Japanese)</p>
                            <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-round-xlarge w3-red" style="height:24px;width:75%"></div>
                            </div>
                            <p>ಕನ್ನಡ(Kannada)</p>
                            <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-round-xlarge w3-red" style="height:24px;width:100%"></div>
                            </div>
                        </div>
                    </ul>

                    <ul class="social">
                        <li> <a class="fa fa-facebook" aria-hidden="true" href="http://www.facebook.com/abhishek.sn.me" title="Like me on Facebook" target="_blank"></a></li>
                        <li> <a class="fa fa-instagram" aria-hidden="true" href="http://www.instagram.com/snabhishek16" title="Love me on Insta" target="_blank"></a></li>
                        <li> <a class="fa fa-linkedin" aria-hidden="true" href="https://www.linkedin.com/in/abhishek-sn-gowda-52118b88/" title="Connect with me on Linkedin" target="_blank"></a></li>
                        <li> <a class="fa fa-github" aria-hidden="true" href="https://github.com/snabhishek16" title="Connect with me on Github" target="_blank"></a></li>
                        <li> <a class="fa fa-twitter" aria-hidden="true" href="https://twitter.com/snabhishek16" title="Tweet me on Twitter" target="_blank"></a></li>
                        <li> <a class="fa fa-skype" aria-hidden="true" href="skype:snabhishek16" title="Connect with me on Skype" target="_blank"></a></li>
                        <li> <a class="fa fa-whatsapp" aria-hidden="true" href="intent://send/7899737173#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" title="Ping me on whatsapp"></a></li>
                        <!--<li> <a class="fa fa-spinner" aria-hidden="true" title="Poke me" onclick="Materialize.toast('Ouuccchhhh!', 4000,'rounded',function(){alert('Do not repeat')})"></a></li>-->
                    </ul>
                </ul>
            </div>

        </div>
    </nav>


    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content">
            <div class="chip">
                <img src="/static/images/sample.JPG" alt="Contact Person">Get in touch</div>
            <div class="row">
                <div class="col s12">
                    <form method="post" action="{% url 'contact' %}" >{% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="icon_prefix" type="text" class="validate" name="name">
                                <label for="icon_prefix">Your name</label>
                            </div>
                            {{form.name.errors}}

                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input id="email" type="email" class="validate" name="email">
                                <label for="email" data-error="Invalid email" data-success="Valid">Your email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea id="icon_prefix2" class="materialize-textarea" name="message"></textarea>
                                <label for="icon_prefix2">Message</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 right">
                                <div class="modal-footer">
                                    <button class="btn waves-effect waves-light pulse" type="submit" name="action">Submit
                                        <i class="material-icons right" aria-hidden="true" onclick="Materialize.toast('{{form.errors}}', 4000,'rounded')">send</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    {% block content %}

    {% endblock content %}


    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <div class="container center show-on-small-only">
                    <h5 class="white-text">Mission</h5>
                    <p class="grey-text text-lighten-4">To be a successfull Developer and acquire very good Japanese language skill.
                        <br> Build and grow your next product.</p>
                        </div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <div class="container center show-on-small-only">
                    <a href="#top"><i class="material-icons">keyboard_arrow_up</i></a>
                    <ul>
                        <li><a class="grey-text text-lighten-3" target="_self" href="#{% url 'index' %}">Home</a></li>
                        <li><a class="grey-text text-lighten-3" target="_self" href="{% url 'about:about' %}">About</a></li>
                        <li><a class="grey-text text-lighten-3" target="_self" href="{% url 'portfolio:portfolio' %}">Portfolio</a></li>
                        <li><a class="grey-text text-lighten-3" target="_self" href="{% url 'blog:blogs' %}">Blogs</a></li>
                        <li><a class="grey-text text-lighten-3 collapse modal-trigger" target="_self"  href="#modal1" data-activates="slide-out" >Contact</a></li>
                    </ul>
                        </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                Copyright 2018 © — made with <a  target="_blank" href="https://www.djangoproject.com/">Django</a>
            </div>
        </div>
    </footer>



    <!--Import jQuery before materialize.js-->
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
    <script>
        $(document).ready(function() {
            $(".button-collapse").sideNav();
            $('.collapsible').collapsible();
            $(".collapse").sideNav1();
        });
    </script>
    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });
    </script>



    {% block script %}

    {% endblock script %}


</div>
</body>
</html>